.DrawerToggle {
  visibility: hidden;
  width: 25px;
  height: 2px;
  background: white;
  position: relative;
  cursor: pointer;
}
.DrawerToggle::before {
  bottom: 5px;
}

.DrawerToggle::before,
.DrawerToggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.DrawerToggle::after {
  top: 5px;
}
@media (max-width: 499px) {
  .DrawerToggle {
    visibility: visible;
  }
}
