.Logo {
  height: 90%;
  background: white;
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
}
.Logo img {
  height: 100%;
}
@media (max-width: 500px) {
  .Logo {
    margin-bottom: 32px;
  }
}
